service cloud.firestore {
  match /databases/{database}/documents {
    match /lockDates/{lockDate} {
      allow read: if request.auth.uid != null;
    }

    match /teams/{teamId} {
      allow read: if request.auth.uid != null;
    }

    match /fixtures/{fixtureId} {
      allow read: if request.auth.uid != null;
    }

    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == userId;

      match /bets/{betId} {
        function getLockDate() {
          return get(/databases/$(database)/documents/$(resource.data.fixture.lockDate)).value.seconds;
        }

        allow read: if request.auth.uid == userId || request.time.seconds > getLockDate();
        allow update: if request.auth.uid == userId;// && request.time < getLockDate();
        allow create: if false;
        allow delete: if false;

        match /lockDate {
          allow read: if true;
          allow write: if false;
        }
      }
    }
  }
}
