service cloud.firestore {
  match /databases/{database}/documents {
    match /lockDates/{lockDate} {
      allow read: if request.auth.uid != null;
    }

    match /teams/{teamId} {
      allow read: if request.auth.uid != null;
    }

    match /fixtures/{fixtureId} {
      allow read: if request.auth.uid != null;
    }

    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == userId;

      match /bets/{betId} {
        allow read: if request.auth.uid == userId  || resource.data.locked == true;
        allow update: if request.auth.uid == userId && resource.data.locked != true;
        allow create: if false;
        allow delete: if false;

        match /lockDate {
          allow read: if true;
          allow write: if false;
        }
      }
    }
  }
}
